
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <table id="depotsTable" class="table table-bordered table-striped table-hover"></table>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/bootstrap-table-develop/dist/bootstrap-table.js"></script>
    <script src="~/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
        $(function () {
            $("#depotsTable").bootstrapTable({
                method: "get",
                url: "http://localhost:43727/api/Depots",
                undefinedText: "",//当数据为 undefined 时显示的空字符
                pagination: true, //表格底部显示分页条
                paginationLoop: false,//禁用分页条无限循环的功能
                toolbar: "#btns",
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 10,
                pageList: [5, 10, 20, "All"],
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                queryParams: function (params) {
                    params.DepotName = "";
                    return params;
                },
                columns: [
                    { field: "DepotID", title: "仓库编号" },
                    { field: "DepotName", title: "仓库名称" },
                    { field: "DepotMan", title: "联系人" },
                    { field: "DepotTel", title: "电话" },
                    { field: "DepotAddress", title: "地址" }
                ]
            });
        })
    </script>
</body>
</html>
