
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/iCheck/all.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">客户资料</div>
        <div class="panel-body">
            <div id="btns" class="btn-group">
                <button class="btn btn-primary" id="AddCustomers"><i class="glyphicon glyphicon-save"></i>新增</button>
                <button class="btn btn-info" id="EditCustomers"><i class="glyphicon glyphicon-edit"></i>修改</button>
                <button class="btn btn-danger" id="DeleteCustomers"><i class="glyphicon glyphicon-remove"></i>删除</button>
                <form id="formSelectDepots" class="form-inline" style="float:left; margin-left:10px;">
                    <div class="form-group">
                        <label for="name">
                            公司或客户名称:
                        </label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="请输入">
                    </div>
                    <div class="form-group">
                        <label for="CTID">客户类型:</label>
                        <select id="CTID" name="CTID" class="selectpicker" data-style="btn-default">
                            <option value="0">所有客户类型</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="CLID">客户等级:</label>
                        <select id="CLID" name="CLID" class="selectpicker" data-style="btn-default">
                            <option value="0">所有客户等级</option>
                        </select>
                    </div>
                    <button type="button" id="search" class="btn btn-default">查询</button>
                </form>
            </div>
            <table id="customersTable" class="table table-bordered table-striped table-hover"></table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/bootstrap-table-develop/dist/bootstrap-table.js"></script>
    <script src="~/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="~/bootstrap-table-develop/dist/extensions/export/tableExport.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/ajaxHelp.js"></script>
    <script src="~/iCheck/jquery.icheck.min.js"></script>
    <script>
        $(function () {
            //绑定表格数据
            $("#customersTable").bootstrapTable({
                method: "get",
                url: "http://localhost:43727/api/Customers",
                undefinedText: "",//当数据为 undefined 时显示的空字符
                pagination: true, //表格底部显示分页条
                paginationLoop: false,//禁用分页条无限循环的功能
                toolbar: "#btns",
                sidePagination: "server",
                showExport: true,
                pageNumber: 1,
                pageSize: 10,
                pageList: [5, 10, 20, "All"],
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                showColumns: true,
                showRefresh: true,
                detailView: true,
                clickToSelect: true,
                detailFormatter: function (index, row) {
                    return '<table class="container-fluid"><tr><td><label>传真:</label> &nbsp; <span>' + row.CusFax + '</span></td><td><label>E-Mail:</label> &nbsp; <span>' + row.CusMail + '</span></td><td><label>手机:</label> &nbsp; <span>' + row.CusPhone + '</span></td><td><label>网站:</label> &nbsp; <span>' + row.CusBank + '</span></td><td><label>银行:</label> &nbsp; <span>' + row.CusBank + '</span></td><td><label>地址:</label> &nbsp; <span>' + row.CusAddress + '</span></td></tr><tr><td><label>开发行:</label> &nbsp; <span>' + row.CusBankCreate + '</span></td><td><label>帐号:</label> &nbsp; <span>' + row.CusGoogs + '</span></td><td><label>税号:</label> &nbsp; <span>' + row.CusSGoogs + '</span></td><td><label>交易类型:</label> &nbsp; <span>' + row.CusRateType + '</span></td><td><label>期初应收:</label> &nbsp; <span>' + row.CusBeginIn + '</span></td><td><label>客户积分:</label> &nbsp; <span>' + row.CusSorce + '</span></td></tr><tr><td colspan="6"><label>备注:</label> &nbsp; <span>' + row.CusDesc + '</span></td></tr></table>';
                },
                queryParams: function (params) {
                    params.name = "";
                    params.CLID = 0;
                    params.CTID = 0;
                    return params;
                },
                columns: [
                    { checkbox: true },
                    { field: "CusID", title: "客户编号" },
                    { field: "CusName", title: "客户名称" },
                    { field: "CusCompany", title: "公司名称" },
                    { field: "CusMan", title: "联系人" },
                    { field: "CusTel", title: "联系电话" },
                    { field: "CLName", title: "客户等级" },
                    { field: "CTName", title: "客户类型" },
                    {
                        field: "IsDefault", title: "默认供货商", formatter: function (value, row, index) {
                            return value ? "是" : "否";
                        }
                    },
                ]
            });
            LoadCustomerLevel($("#CLID.selectpicker"),0);
            LoadCustomerTypes($("#CTID.selectpicker"),0);
            //条件查询
            $("#search").click(function () {
                var name = $("#name").val();
                var CLID = $("#CLID").val();
                var CTID = $("#CTID").val();
                $.getJSON("http://localhost:43727/api/Customers?order=asc&offset=0&limit=10&name=" + name + "&CLID=" + CLID + "&CTID=" + CTID, function (data) {
                    $("#customersTable").bootstrapTable("load", data);
                });
            });
            //添加
            $("#AddCustomers").click(function () {
                layer.open({
                    type: 2,
                    area: ['600px', '600px'],
                    scrollbar: false,
                    title: ['新增客户', 'font-weight:700'],
                    content: ['/Basic/CustomersEdit.html', 'auto'],
                    success: function (layero, index) {
                        var body = layer.getChildFrame("body", index);
                        $(body).find(":checkbox").iCheck({
                            checkboxClass: "icheckbox_square-red"
                        });
                        LoadCustomerLevel($(body).find("#CLID.selectpicker"));
                        LoadCustomerTypes($(body).find("#CTID.selectpicker"));
                    },
                    end: function () {
                        //销毁时刷新
                        $('#customersTable').bootstrapTable("refresh");
                    }
                });
            });
            //修改
            $("#EditCustomers").click(function () {
                var row = $("#customersTable").bootstrapTable("getSelections");
                if (row.length != 1) {
                    layer.msg("请选择一条要修改的客户！");
                    return;
                }
                layer.open({
                    type: 2,
                    area: ['600px', '600px'],
                    scrollbar: false,
                    title: ['修改客户', 'font-weight:700'],
                    content: ['/Basic/CustomersEdit.html', 'auto'],
                    success: function (layero, index) {
                        var body = layer.getChildFrame("body", index);
                        $(body).find(":checkbox").iCheck({
                            checkboxClass: "icheckbox_square-red"
                        });
                        $.getJSON("http://localhost:43727/api/Customers/" + row[0].CusID, function (data) {
                            setForm($(body).find("form"), data);
                            $(body).find(":checkbox").iCheck({
                                checkboxClass: "icheckbox_square-red"
                            });
                            if (data.IsDefault) {
                                $(body).find(":checkbox").iCheck("check");
                            }
                            LoadCustomerLevel($(body).find("#CLID.selectpicker"), data.CLID);
                            LoadCustomerTypes($(body).find("#CTID.selectpicker"), data.CTID);
                        });
                    },
                    end: function () {
                        //销毁时刷新
                        $('#customersTable').bootstrapTable("refresh");
                    }
                });
            });
            //删除
            $("#DeleteCustomers").click(function () {
                var row = $("#customersTable").bootstrapTable("getSelections");
                if (row.length != 1) {
                    layer.msg("请选择一条要删除的客户！");
                    return;
                }
                var bool = true;
                $.ajax({
                    url: "http://localhost:43727/api/CustomerOrder?CusID=" + row[0].CusID,
                    type: "get",
                    async: false,
                    success: function (data) {
                        if (data) {
                            layer.msg("客户下有订单！");
                            bool = false;
                        }
                    }
                });
                if (!bool) return false;
                layer.confirm('您确定要删除此客户吗？', {
                    btn: ['确定', '取消'], //按钮
                    icon: 2
                }, function () {
                    $.ajax({
                        url: "http://localhost:43727/api/Customers/" + row[0].CusID,
                        type: "delete",
                        success: function (data) {
                            if (data) {
                                layer.msg("删除成功！");
                                $('#customersTable').bootstrapTable("refresh");
                            } else {
                                layer.msg("删除失败！");
                            }
                        }
                    });
                }, function () {

                });
            });
        });
        //加载客户等级
        function LoadCustomerLevel(select, check) {
            $.getJSON("http://localhost:43727/api/CustomerLevel", function (data) {
                $.each(data, function (i, obj) {
                    $(select).append(new Option(obj.CLName, obj.CLID));
                });
                $(select).selectpicker('refresh');
                $(select).selectpicker("val", check);
            });
        }
        //加载客户类型
        function LoadCustomerTypes(select, check) {
            $.getJSON("http://localhost:43727/api/CustomerTypes", function (data) {
                $.each(data, function (i, obj) {
                    $(select).append(new Option(obj.CTName, obj.CTID));
                });
                $(select).selectpicker('refresh');
                $(select).selectpicker("val", check);
            });
        }
    </script>
</body>
</html>
